# ensure this is SLP enabled
BCHD_URL='bchd.fountainhead.cash:443'

# you can grab this from electron cash slp edition by right clicking on address
# inside Addresses pane and viewing private key
FUNDING_WIF=''
